#bglogin{
    background-image: url("https://img.freepik.com/free-photo/flat-lay-desk-concept-with-copy-space_23-2148459512.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#bg{
    background-color: rgba(255, 255, 255, 0.655);
}